.balance-card {
    border: none;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;

    &__header {
        padding: 15px;
        background-color: rgb(233, 129, 50);
        display: flex;
        align-items: center;

        p {
            font-size: 20px;
        }
    }

    &__header-title {
        display: flex;
        align-items: center;
        margin-right: auto;

        h1 {
            font-size: 20px;
        }
    }

    &__header-icon {
        width: 40px;
        margin-right: 10px;
    }

    &__content {
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }
}
